*{
    padding:0%;
    margin: 0%;
}
ul{
    list-style-type:none;
    margin-left:17%;
    margin-right: 17%;
    /* box-shadow: 5px 5px 5px 5px gray; */
}
li{
    margin: 20px;
    border:2px solid white;
    border-radius: 8px;
    font-size: 40px;
    color: rgb(16, 154, 179);
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px gray;
    overflow-x:scroll;
}